.calculator {
    width:550px;
    height:600px;

    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
    
}

.display {

    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    width: 500px;

    display: flex;
    justify-content: right;
    
}

.calculator,.display,.numbers,.operators{
    border-style: double;
    border-radius: 5px;
    border-color: black;
}

.controls{
    display: flex;
    flex-direction: row;

    width: 526px;
    gap:5px;
}

.numbers,.operators{
    
    height: 400px;
    
}
.numbers{
    
    flex: 200;
    justify-content: center;
    
}
.operators{
    
    flex: 100;
    justify-content: center;
    
}

.numRow,.opRow {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    /* flex:110; */
}

.regularButton {
    flex-basis:40%;
    height: 72px;
   
}

.largeButton{
    flex-basis: 100%;
    height: 72px;
}