.calculator {
    width:550px;
    height:600px;

    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;
    
}

.display {

    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    width: 500px;

    display: flex;
    justify-content: right;
    
}

.calculator,.display,.numbers,.operators{
    border-style: double;
    border-radius: 5px;
    border-color: black;
}

.controls{
    display: flex;
    flex-direction: row;

    width: 526px;
    gap:5px;
}

.numbers,.operators{
    flex-direction: row;
    height: 400px;
}
.numbers{
    display: flex;
    flex: 200;
    
}
.operators{
    display: flex;
    flex: 100;
    
}